@model MvcCv.Models.Entity.Experience
@{
    ViewBag.Title = "EditExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Edit Experince Page</h4>
<br />
<form method="post">
    @Html.Label("Experience Id")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Sub Title")
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.Label("Description")
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })


    <br />
    <button class="btn btn-info">Edit</button>
</form>

